<div class="footer flex justify-center items-center bg-midnight-blue dark:bg-japaneseIndigo-to-darkGunmetal text-white">
  <span class="cursor-pointer" (click)="navigateTo('privacy-policy')">
    {{'footer.privacy_policy'| translate}}</span>
  <span class="cursor-pointer footer-link" (click)="navigateTo('usage-policy')">
    {{'footer.usage_policy' | translate}}</span>
  <span class="cursor-pointer" (click)="navigateTo('terms-and-conditions')">
    {{'footer.terms_and_conditions'|translate}}</span>
  <!-- <span class="cursor-pointer footer-link" (click)="navigateTo('accessibility')">{{'footer.accessibility'|translate}}</span> -->
</div>