.footer {
    height: 72px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    padding-left: 78px;
    padding-right: 78px;
}

.footer-link {
   margin-left: 38px;
   margin-right: 38px;
}
