<!-- <div
  class="flex flex-col h-full p-5 rounded-2xl bg-white dark:bg-medium-jungle-green border border-teal dark:border-munsell-blue sideMenu gap-y-2 shadow-md">
  <div class="flex flex-col h-auto max-h-1/2">
    <span class="text-sm font-semibold headLineFont text-turquoise dark:text-munsell-blue"
      ctTranslate="dashboard.myTodo.myTodoTitle">
      {{"dashboard.myTodo.myTodoTitle" | translate}}
    </span>
    <app-my-latest-tasks></app-my-latest-tasks>
  </div>

  <div class="flex flex-col h-auto max-h-1/2" *permission="{ name: 'hasContributerRole'}">
    <span class="text-sm font-semibold headLineFont text-turquoise dark:text-munsell-blue"
      ctTranslate="my_contributions">
      {{"my_contributions" | translate}}
    </span>
    <app-my-latest-contributions></app-my-latest-contributions>
  </div>
</div> -->