<div class="flex flex-col  w-full">
  <div class="flex mb-8 justify-between">
    <span class="howToLibTitle text-lg text-bright-gray font-semibold"
      ctTranslate="dashboard.howToLib">{{"dashboard.howToLib" | translate }}</span>
    <div class="flex gap-2 cursor-pointer text-moonstone-blue">
      <span class="font-normal text-base" ctTranslate="viewAll">{{'viewAll' | translate}}</span>
      <mat-icon [svgIcon]="'icons:chevron-right'"
        [ngClass]="{'transform rotate-180': translate.currentLang=='ar'}"></mat-icon>
    </div>
  </div>

  <div *ngIf="resources?.length" class="flex w-full gap-x-6 flex-wrap flex-row gap-y-4">
    <ng-container *ngFor="let resource of resources">
      <app-resource-card class="h-80 resource-container" [resource]="resource"></app-resource-card>
    </ng-container>
  </div>

  <div *ngIf="!resources?.length" class="flex  text-gray-300 items-center justify-center text-middle-blue pb-5">
    <span ctTranslate="no_content">{{'no_content' | translate}}</span>
  </div>

</div>