<div [style.width.%]="progress$ | async" class=" bg-red-200 h-10"></div>

<form *ngIf="showForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter name..." type="text">
  </mat-form-field>
  <mat-form-field class="space-left">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Enter last name..." type="text">
  </mat-form-field>
  <mat-form-field class="space-left">
    <mat-label>Profession</mat-label>
    <input matInput placeholder="Enter profession..." type="text">
  </mat-form-field>
  <button class="space-left" mat-raised-button>Save</button>
  <button class="space-left" mat-button (click)="showForm = false">cancel</button>
</form>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z1 table">
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>
  <ng-container matColumnDef="number_of_observation">
    <th mat-header-cell *matHeaderCellDef> number_of_observation </th>
    <td mat-cell *matCellDef="let element"> {{element.number_of_observation}} </td>
  </ng-container>
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> role </th>
    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
  </ng-container>
  <ng-container matColumnDef="temporary_role">
    <th mat-header-cell *matHeaderCellDef> temporary_role </th>
    <td mat-cell *matCellDef="let element"> {{element.temporary_role}} </td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> city </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>
  <ng-container matColumnDef="property">
    <th mat-header-cell *matHeaderCellDef> property </th>
    <td mat-cell *matCellDef="let element"> {{element.property}} </td>
  </ng-container>
  <ng-container matColumnDef="is_active">
    <th mat-header-cell *matHeaderCellDef> is_active </th>

    <td mat-cell *matCellDef="let element">
      <div class="flex items-center">
        <ng-container *ngIf="element.is_active">
          <div class="h-2.5 w-2.5 rounded-full bg-green me-2"></div> Active
        </ng-container>
        <ng-container *ngIf="!element.is_active">
          <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Disabled
        </ng-container>
      </div>

    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-container *cdkPortal>
  <button mat-fab color="accent" (click)="showForm = true">
    <mat-icon>add</mat-icon>
  </button>
</ng-container>
<!-- Paginator -->
<app-paginator [current_page]="current_page" [last_page]="last_page" [has_next]="has_next" [has_previous]="has_previous"
  [previous_page]="previous_page" [next_page]="next_page" [iterms_per_page]="iterms_per_page" [loaded]="loaded"
  (changeEmitter)="getNextPage($event)" />